@use '../util' as u;

.step2 {
  padding: 20px;
  h1 {
    color: var(--primary-800);
  }
  p {
    color: var(--neutral-700);
  }

  .subscriptions {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @include u.breakpoint(medium) {
      flex-direction: row;
    }

    .subscription {
      border: 1px solid var(--neutral-500);
      border-radius: 5px;

      display: flex;
      gap: 10px;
      padding: 10px;
      margin-block-start: 20px;

      h2 {
        color: var(--primary-800);
      }

      .gift {
        color: var(--primary-800);
        font-size: 13px;
      }

      &__content {
        display: flex;
        flex-direction: column;
        gap: 7px;
      }
    }
  }
}
